
@{
    ViewData["Title"] = "Start";
}

<h2>Start</h2>

<h3> Choose where you want to start from</h3>
<p>If you want to start from the begining click startOver</p>
<p>If you want to start from where you left off from last time, click startPrevious</p>



<form>
    <div class="form-group">
        <input type="submit" value="startOver"id="startOver" class="btn btn-default" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="startPrevious" id="startPrevious"class="btn btn-default" />
    </div>
</form>



