<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="Scripts/jquery-3.2.1.min.js"></script>
    <script src="Scripts/hamburger.js"></script>
    <link rel="stylesheet" href="../Public/css/hamburger.css">
    <link rel="stylesheet" href="../Public/css/kids/main.css">
    <link rel="stylesheet" href="../Public/css/kids/layout.css">
    <title>Dungeon Gems</title>
  </head>
    <body>
      <header>
        <!--Hambuger Menu-->
        <div id="hamburger">
          <img srcset="../Public/Images/hamburger-icon-sm.png 34w, ../Public/Images/hamburger-icon-md.png 46w"
          sizes="(max-width: 550px) 34px,(max-width: 1000px) 46px"
          src="Images/hamburger-icon-md.png" aria-label="Menu Button" alt="" role="presentation">
        </div>

        <!-- Main Navigation -->
        <nav class="container banner" id="desktop-nav">
          <div>
            <img src="../Public/Images/DungeonGems/kidsdesignlogo.png" role="presentation" alt="">
            <div class="container gems">
              <img class="gem" id="ruby" src="../Public/Images/DungeonGems/rubygem-md.png" role="presentation" alt="">
              <img class="gem" id="emerald" src="../Public/Images/DungeonGems/emeraldgem-md.png" role="presentation" alt="">
              <img class="gem" id="sapphire" src="../Public/Images/DungeonGems/sapphiregem-md.png" role="presentation" alt="">
              <img class="gem" id="amethyst" src="../Public/Images/DungeonGems/amethystgem-md.png" role="presentation" alt="">
            </div>
          </div>
          <div id="activities">
            <img class="icons" src="../Public/Images/DungeonGems/make-icon-md.png " role="presentation" alt="">
            <p>Activities</p>
          </div>
          <div id="characters">
            <img class="icons" id="character-icon" src="../Public/Images/DungeonGems/characters-icon-md.png" role="presentation" alt="">
            <p>Characters</p>
          </div>
          <div id="grownups">
            <img class="icons" src="../Public/Images/DungeonGems/grownups-icon-md.png" role="presentation" alt="">
            <p>Grown-Ups</p>
          </div>
        </nav>

        <!-- Mobile Heading-->
        <div id="mobile-heading">
          <img src="../Public/Images/DungeonGems/kidsdesignlogo.png" role="presentation" alt="">
          <div class="container gems">
            <img class="gem" id="ruby" src="../Public/Images/DungeonGems/rubygem-md.png" role="presentation" alt="">
            <img class="gem" id="emerald" src="../Public/Images/DungeonGems/emeraldgem-md.png" role="presentation" alt="">
            <img class="gem" id="sapphire" src="../Public/Images/DungeonGems/sapphiregem-md.png" role="presentation" alt="">
            <img class="gem" id="amethyst" src="../Public/Images/DungeonGems/amethystgem-md.png" role="presentation" alt="">
          </div>
        </div>
        <!--Mobile Menu-->
        <nav class="container" id="mobile-nav">
          <ul>
            <li class="styleBeGone">
              <img class="icons" src="../Public/Images/DungeonGems/make-icon-sm.png" role="presentation" alt=""><br>
              <a class="m-nav-item" href="index.html">Activities</a>
            </li>
            <li class="styleBeGone">
              <img class="icons" id="character-icon" src="../Public/Images/DungeonGems/characters-icon-sm.png" role="presentation" alt=""><br>
              <a class="m-nav-item" href="resume.html">Characters</a>
            </li>
            <li class="styleBeGone">
              <img class="icons" src="../Public/Images/DungeonGems/grownups-icon-sm.png" role="presentation" alt=""><br>
              <a class="m-nav-item" href="portfolio.html">Grown-Ups</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="container banner">
          <div id="kids">
            <h2>Kids</h2>
            <p id="play">Play Now!</p>
          </div>
          <div id="teachers">
            <h2>Teachers</h2>
            <p id="login">Log In</p>
          </div>
        </section>
        <section>
          <div id="about">
            <h3>What is Dungeon Jewels?</h3>
            <p>
              Dungeon Jewels is a game and teaching aid designed to teach 1st graders math.
            </p>
            <p>
              With Dungeon Jewels your classroom will 
            </p>
          </div>
        </section>
      </main>
    </body>
  </html>
