<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="Scripts/jquery-3.2.1.min.js"></script>
    1 <script src="processing-1.0.0.min.js"></script>
    <script src="Scripts/hamburger.js"></script>
    <link rel="stylesheet" href="../Public/css/hamburger.css">
    <link rel="stylesheet" href="../Public/css/kids/main.css">
    <link rel="stylesheet" href="../Public/css/kids/layout.css">
    <title>Dungeon Gems</title>
  </head>
  <body>
    <canvas data-processing-sources="../Public/Scripts/door.pde"></canvas>
  </body>
</html>
